<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>World of Warcraft</title>
        <link rel="stylesheet" href="../css/main.css">
    
</head>
<body>
    <ul class="one1 emae">
        <li class="home"><a href="../index.html">Home</a></li>
        <li class="gallery"><a href="#">Gallery</a> </li>
        <li class="two blocks"><a href="#"> Block</a>
                     <ul class="two2 emae">
                 <li><a href="../blocks/t_cell.html">t_cell</a></li>
                 <li><a href="../blocks/in_block.html">in_block</a></li>
                 
                 <li class="tres fl"><a href="#">float</a>
                     <ul class="tres3 emae">
                         <li><a href="../blocks/float.html">+🅳🅸🆅</a></li>
                         <li><a href="../blocks/psevdo.html">:🅰🅵🆃🅴🆁</a></li>
                      </ul>
                 </li>

                 <li><a href="../blocks/flex.html">flex</a></li>

                 <li class="four gr"><a href="#">grid</a>
                     <ul class="four4 emae">
                         <li><a href="../blocks/grids.html">🅲🅾🅻🆄🅼🆂</a></li>
                         <li><a href="../blocks/grids2.html">🅰🆁🅴🅰🆂</a></li>
                     </ul>
                 </li>
                    
             
                     </ul>
                 </li>
   </ul>    
   <div id="w6arcraft">

        <div id="t6op">
            <h1>Мир Варкрафта</h1>
            
                              

                    <div class="t6ry1">
                        <img src="../images/map.jpg" alt="map"> 
                        <span class="o6ne"> Мир Варкрафта</span>
                    </div>

        </div>                    <a href="../index.html#">Вернуться назад</a>


            <div id="h6orde">
                    <h2>Орда</h2>
                       
                    <div class="t6ry2">
                        <img src="../images/orda.jpg" alt="horde">
                        <span class="t6wo">Орда</span>
                    </div>
                
                        <div>
                                    <h3>Эльфы крови (Blood Elves)</h3>
                                    <div class="t6ry2">
                                        <img src="../images/Blood.jpg" alt="blood elves">
                                        <span class="t6wo">Эльфы крови</span>

                                    </div>
                        </div>                        
                                     <a href="../index.html#horde">Назад</a>

            </div>

            <div id="a6lliance">
                    <h2>Альянс</h2>
                       
                    <div class="t6ry">
                        <img src="../images/alliance.jpg" alt="alliance">
                        <span>Альянс</span>

                    </div>
                <div>
                                <h3>Ночные Эльфы</h3>
                                    

                    <div> 
                                    <h4> Друид</h4>
                                    <div class="t6ry">
                                        <img src="../images/owl.jpeg" alt="owl">
                                        <span>Сова</span>

                                    </div>
                                    <div class="t6ry5">
                                        <img src="../images/restor.jpg" alt="restor">
                                        <span>Рестор</span>


                                    </div>
                    </div>
                    <div>
                                    <h4>Воин</h4>
                                    <div class="t6ry">
                                        <img src="../images/warrior.jpg" alt="warrior">
                                        <span>Воин</span>

                                    </div>
                    </div>
                                    
                </div>
                <div>
                                <h3>Дренеи</h3>
                                    
                     <div> 
                                        <h4>Шаман</h4>
                                        <div class="t6ry3">
                                            <img src="../images/sham.jpg" alt="shaman">
                                            <span class="t6hree">Шаман</span>

                                        </div>
                     </div>
                      <div>
                                        <h4>Жрец</h4>
                                        <div class="t6ry3">
                                            <img src="../images/priest.jpg" alt="priest">
                                            <span class="t6hree">Жрец</span>

                                        </div>
                     </div>
                     <div> 
                                        <h4>Паладин</h4>
                                        <div class="t6ry4">
                                            <img src="../images/pal.jpg" alt="paladin">
                                            <span class="t6hree">Паладин</span>

                                        </div>
                      </div>

                      <a href="../index.html#alliance">Назад к описанию</a>
            </div>

                </div>
  
  
    
</div>
   <div class="menu">
    <p><a href="photos.html#">Карта</a></p>
    <p><a href="photos.html#a6lliance">Альянс</a></p>
    <p><a href="photos.html#h6orde">Орда</a></p>


     </div>
</body>
</html>